interactions:
- request:
    body: '{"ids": [2077591], "data": "Zm9vCg==", "file_name": "fixtures/dummy_attachment",
      "content_type": "text/plain", "summary": "File: fixtures/dummy_attachment",
      "minor_update": true}'
    headers:
      Authorization:
      - 'Bearer: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
      Content-Type:
      - application/json
    method: POST
    uri: https://bugzilla.redhat.com/rest.cgi/bug/2077591/attachment
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      x-rh-edge-cache-status:
      - Miss from child, Miss from parent
      x-rh-edge-reference-id:
      - 0.3e6ed417.1659026679.144ab57c
      x-rh-edge-request-id:
      - 144ab57c
    status:
      code: 201
      message: Created
version: 1
